#style-home{
     background: #00042A;
}

/* nav */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 16px
}

.botao-entrar{
    background-color: #ffffff;
    padding: 14px 16px;
    border-radius: 8px;
    color:#000000;
    width: 100px;
    text-align: center;
}

.botao-entrar:hover{
    
    background-color: #5f6ffffa;
    color: #ffffff;

}

/* sessão 1 */ 

.sessao-1{ 

    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 64px

}

.sessao-1 h1{

    font-size: 64px;

}

.sessao-1 p{ 

    font-size: 24px;

}

.sessao-1 a{ /*depois criar botão padrão*/

    background-color: #ffffff;
    display: flex;
    padding: 16px 42px;
    border-radius: 8px;
    font-size: 18px;
    color:#000000;
    display: inline-block;
}

.sessao-1 a:hover{
    
    background-color: #5f6ffffa;
    color: #ffffff;

}

.sessao-1 a img{

    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    left: 16px;

}

/* animação scroll */

.scroll-down {
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  position: relative;
  margin: 50px auto;
}

.scroll-down span {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  animation: scrollDown 1.8s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    top: 10px;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
