#Home{
background: linear-gradient(
  135deg,
  #020d3a 0%,
  #0a2a9f 50%,
  #031a5a 100%
);}

/*buscar padronizar para o inglês essa sessão e sua correspondente HTML*/

/* nav */

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 16px
}

.botao-entrar{
    background-color: #f1f5ff;
    padding: 14px 16px;
    border-radius: 8px;
    color:#000000;
    width: 100px;
    text-align: center;
}

.botao-entrar:hover{
    
    background-color: #5f6fff;
    color: #ffffff;

}

/* sessão 1 */ 

.sessao-1{ 

    display: grid;
    text-align: center;
    color: #f1f5ff;
    padding: 64px

}

.sessao-1 h1,.sessao-2 h1{

    font-size: 64px;

}

.sessao-1 p{ 

    font-size: 24px;

}

.sessao-1 a{ 

    background-color: #f1f5ff;
    display: flex;
    padding: 16px 42px;
    border-radius: 8px;
    font-size: 18px;
    color:#000000;
    display: inline-block;
}

.sessao-1 a:hover{
    
    background-color: #5f6ffffa;
    color: #ffffff;

}

.sessao-1 a img{

    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    left: 16px;

}

/* animação scroll */

.scroll-down {
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  position: relative;
  margin: 50px auto;
}

.scroll-down span {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  animation: scrollDown 1.8s infinite;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    top: 10px;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}

/* sessao-2 */

.sessao-2{

    display: grid;
    justify-content: center;
    background-color: #d9d9d92f;
    border-radius: 64px;
    padding: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.sessao-2 h1{

    text-align: center;
    color: #f1f5ff;


}

/* sessao-3*/

.sessao-3{

    padding: 72px;
    display: grid;
    gap:60px;
    color: #f1f5ff

}

.sessao-3 h1{

    text-align: center;
    color: #f1f5ff;
    font-size: 64px;

}

.sessao-3 .cards{

    display: flex;
    gap: 120px;
}

.sessao-3 .cards div{
    background-color: #d9d9d92f;
    padding: 42px;
    border-radius: 16px;
}


/* sessão 4 */

.sessao-4{
    text-align: center;
    background-color:#d9d9d92f ;
    max-width: 1200px;
    margin-left: auto;
    margin-right:auto;
    padding: 60px;
    border-radius: 24px;
}

.sessao-4 h1{
    font-size: 48px;
    color: #f1f5ff
}

.sessao-4 h3{
    color: #f1f5ff9b

}

.sessao-4 a{ 

    background-color: #f1f5ff;
    display: flex;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    color:#000000;
    display: inline-block;
}

.sessao-4 a:hover{
    
    background-color: #5f6ffffa;
    color: #ffffff;

}



/* footer */

.footer{

    text-align: center;
    color:#020d3a;
    background-color: #ffffff68;
    margin-bottom:0px;
    margin-top: 48px;
    padding:10px;

}


/* Responsive Mobile */

@media (max-width: 1200px){

.navbar{

    max-width: 850px;
}

.sessao-1 h1{

    font-size: 48px;

}

.sessao-1 p,.botao-entrar p{ 

    font-size: 18px;

}

.sessao-1 a{ /*depois criar botão padrão*/

    padding: 16px 42px;
    font-size: 16px;
}

} 

@media(max-width: 952px){

.navbar{

    max-width: 680px;
}

.botao-entrar{
    padding: 12px 8px;
}

.sessao-1 p{ 

    font-size: 14px;

}

.sessao-1{
    gap: 10px;
}

}

@media(max-width:775px){ 

.navbar{

    max-width: 500px;
    justify-content: center;
}

.botao-entrar{
    
    display: none;

}

.sessao-1 p{ 

    font-size: 12px;

}

.sessao-1 h1{

    font-size: 42px

}

.sessao-1{
    gap: 10px;
    padding: 20px;
}

}

@media (max-width:590px) {

   

}
